<div class="block notice">
  <div class="content">
   <%= form_tag linhas_path, :method => "get", :class => "form" do %>
    <div class="input">
      <%= label_tag :nome, "Pesquisar:" %>
      <%= text_field_tag :nome %>
    </div>
    <%= submit_tag "Ok" %>
   <% end %>
  </div>
</div>
