<div class="block notice">
  <h3>Linhas de ônibus</h3>
  <div class="content">
    <p>Busca no banco local, caso não encontre busca no site de apoio (web service da GeoControl ou site da Transalvador), se houver novos registros cadastra no banco e retorna os novos cadastros.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="http://rast.vitoria.es.gov.br/pontovitoria/" target="_blank">Ponto Vitória</a></li>
    <li><a href="http://www.stp.salvador.ba.gov.br/transporte/" target="_blank">Transalvador</a></li>
  </ul>
</div>
